html,
body {
  height: 100%;
  padding: 10px;
  margin-top: 20px;
  background-image: url('../photos/grand_targhee.JPG');
  background-repeat: no-repeat;
  background-size: auto;
  color:blue;
  font-family: Arial, Helvetica, sans-serif;
}

#about {
    background-color: #a9a9a9;
    color:black;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    border-radius: 5px; 
}

#headshot {
    width: 360px;
    height: 400px;
    padding: 10px;
    margin: 10px;
}